body{
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.chattingbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh; 
    width: 4Z0px; 
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .chattingbox > div {
    width: 100%;
    width: 400px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  #usernameContainer,
  #chatRoomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  textarea {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  input[type="text"]::placeholder,
  textarea::placeholder {
    color: #999;
  }
  
  button {
    background-color: #ea526f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d33a50;
  }
  
  #chatTextArea {
    resize: none;
  }
  
  #chatRoomContainer {
    display: none;
  }
  
  #chatRoomContainer textarea,
  #chatRoomContainer input[type="text"]{
    width: 95%;
  }
  #chatRoomContainer button {
    width: 100%;
  }
  
  #chatRoomContainer button {
    margin-top: 10px;
  }